@import url( '../../bower_components/bootstrap/less/bootstrap.less' );
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

/********************************
    General Styles
********************************/
.container-fluid                            { max-width: 1100px; }
a, a:hover, a:focus, a:active, a:focus      { outline: 0; text-decoration: none; }

/********************************
    Fonts Styles
********************************/
body                                        { font-family: "Open Sans"; }
h1                                          { font-size: 24px; font-weight: 600; color: #545454; }
.breadcrumb > li                            { font-size: 12px; font-weight: 400; line-height: 50px; }
.breadcrumb > li + li::before               { font-size: 13px; }
.breadcrumb > li > a                        { color: #545454; text-transform: capitalize; }
.breadcrumb > li.active > a,
.breadcrumb > li:last-child > a,
.breadcrumb > li > a:hover                  { color: #0c9; }
.submenu > li                               { font-size: 12px; font-weight: 400; line-height: 50px; }
.submenu > li > a                           { color: #545454; }
.submenu > li.active > a,
.submenu > li > a:hover                     { color: #0c9; }
#sidebar h3                                 { font-size: 14px; font-weight: 700; line-height: 45px; color: #d8d8d8; }
#sidebar h4                                 { font-size: 14px; font-weight: 700; line-height: 45px; color: #545454; }
#sidebar ul > li > a                        { font-size: 12px; font-weight: 400; line-height: 35px; color: #696969; }
#sidebar ul > li.active > a,
#sidebar ul > li > a:hover                  { color: #0c9; }
#search-form .search-keyword .glyphicon     { font-size: 16px; color: #d8d8d8; }
#search-form p                              { font-size: 14px; font-weight: 600; line-height: 34px; color: #474747; }
.form-group label                           { font-size: 14px; font-weight: 300; color: #474747; }
.custom-select select                       { color: #9b9b9b; }
.custom-select::before,
.custom-select::after                       { font-family: 'Glyphicons Halflings'; color: #d8d8d8; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.dataset-item .dataset-date                 { font-size: 11px; font-weight: 300; color: #9b9b9b; }
.dataset-item .dataset-date > span > strong { font-weight: 300; color: #474747; }
.dataset-item h3                            { font-size: 15px; font-weight: 600; color: #474747; }
.dataset-item h3 > a                        { color: #474747; }
.dataset-item h3 > a:hover                  { font-weight: 700; }
.dataset-item p                             { font-size: 12px; font-weight: 300; color: #474747; }
.pagination > li > a                        { font-size: 15px; font-weight: 600; color: #0c9; }
.pagination > li.active > a,
.pagination > li > a:hover                  { color: #9b9b9b; }
.filters-list > span                        { font-size: 13px; font-weight: 300; color: #474747; }
.filters-list .btn-dismiss                  { font-size: 14px; font-weight: 600; color: #fff; }
.filter-item                                { font-weight: 300; color: #fff; }

/********************************
    Sticky Footer Styles
********************************/
html                                        { position: relative; min-height: 100%; }
body                                        { margin: 0 0 432px; }
dgm-footer                                  { width: 100%; height: 432px; position: absolute; left: 0; bottom: 0; }

/********************************
    Forms Styles
********************************/
.form-inline > .form-group > label          { margin-right: 10px; }
.form-control:focus                         { border-color: rgba(0,204,153,0.8); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(0,204,153,0.3); }
.custom-select                              { display: inline-block; margin: 0; padding: 0; border: 1px solid #ccc; border-radius: 4px; position: relative; }
.custom-select::before,
.custom-select::after                       { display: inline-block; position: absolute; right: 8px; }
.custom-select::before                      { content: "\e252"; bottom: 2px; }
.custom-select::after                       { content: "\e253"; top: 2px; }
.custom-select select                       { border: none; box-shadow: none; background-color: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.custom-select select:focus,
.custom-select select:active                { outline: none; }
#search-form                                { margin-bottom: 30px; }
#search-form input[type="text"]             { height: 45px; padding-right: 20px; }
#search-form .search-keyword                { position: relative; }
#search-form .search-keyword .glyphicon     { position: absolute; right: 15px; top: 50%; transform: translateY(-50%); }
#search-form .form-inline                   { float: right; }
#search-form p                              { margin-bottom: 0; }
.filters-list                               { margin-top: 20px; }
.filters-list > span                        { margin-right: 10px; }
.filters-list > span:last-child             { margin-right: 0; }
.filters-list .btn-dismiss                  { margin-left: 7px; padding: 0; background: none; border: none; cursor: pointer; position: relative; top: -1px; }
.filter-item                                { background-color: #0c9; padding: 3px 7px; border-radius: 5px; }

/********************************
    Breadcrumb Styles
********************************/
.breadcrumb-container                       { margin-bottom: 20px; background-color: #f6f6f6; }
.breadcrumb                                 { margin-bottom: 0; padding: 0; background-color: transparent; border-radius: 0; }
.breadcrumb > li + li::before               { padding: 0 3px 0 8px; }
.breadcrumb > li > a                        { display: inline-block; }
.breadcrumb > li:last-child > a             { pointer-events: none; }
.submenu                                    { margin-bottom: 0; float: right; }
.submenu li                                 { display: inline-block; margin-right: 20px; }
.submenu li:last-child                      { margin-right: 0; }

/********************************
    Pagination Styles
********************************/
.pagination                                 { margin: 20px auto 100px; position: relative; left: 50%; transform: translateX(-50%); }
.pagination > li.active > a,
.pagination > li.active > a:hover,
.pagination > li:hover > a                  { background-color: #d8d8d8; border-color: #d8d8d8; }

/********************************
    Sidebar Styles
********************************/
#sidebar h3                                 { margin: 0; padding: 0 10px; }
#sidebar h4                                 { margin: 0; padding: 0 10px; border: 1px solid #d8d8d8; border-left: none; border-right: none; background-color: #f6f6f6; }
#sidebar ul                                 { margin: 0; padding: 0; list-style: none; }
#sidebar ul > li                            { padding: 0 10px; border-bottom: 1px solid #d8d8d8; }
#sidebar ul > li.active                     { background-color: #f6f6f6; }
#sidebar ul > li:last-child                 { border-bottom: none; }

/********************************
    Main Container Styles
********************************/
h1                                          { margin-top: 0; margin-bottom: 40px; padding-bottom: 20px; border-bottom: 1px solid #d8d8d8; position: relative; }
h1:after                                    { content: ''; width: 40px; position: absolute; bottom: -6px; left: 0; border-bottom: solid 5px #0c9; }
#main-container                             { margin-bottom: 60px; border: 1px solid #d8d8d8; border-radius: 5px; }
#main-container > .row,
#main-container > .row > .col-md-3,
#main-container > .row > .col-md-9          { height: 100%; }

/********************************
    Content Styles
********************************/
#content                                    { margin: 0 15px 0 -15px; padding-top: 30px; border-left: 1px solid #d8d8d8; }
.dataset-item                               { margin-bottom: 20px; padding: 15px 10px; background-color: #f9f9f9; border: 1px solid #f6f6f6; border-radius: 5px; overflow: hidden; }
.dataset-item .dataset-date                 { height: 30px; margin-bottom: 0; position: relative; }
.dataset-item .dataset-date > span          { position: absolute; left: 45px; top: 50%; transform: translateY(-50%); }
.dataset-item .dataset-date > .tag-icon     { left: 0; }
.dataset-item h3,
.dataset-item p.dependency                  { margin-bottom: 20px; }
.dataset-format                             { font-size: 10px; font-weight: 700; color: #fff; text-transform: uppercase; border-radius: 3px; padding: 2px 4px; }
.dataset-format[data-format="csv"],
.dataset-format[data-format="CSV"]          { background-color: #ffd100; }
.dataset-format[data-format="kml"],
.dataset-format[data-format="KML"]          { background-color: #474747; }
.dataset-format[data-format="geojson"],
.dataset-format[data-format="GEOJSON"],
.dataset-format[data-format="json"],
.dataset-format[data-format="JSON"]         { background-color: #33ffd1; }
.dataset-format[data-format="pdf"],
.dataset-format[data-format="PDF"]          { background-color: #ff2200; }
.dataset-format[data-format="arcgis"],
.dataset-format[data-format="ARCGIS"]       { background-color: #d100FF; }
.dataset-format[data-format="xlsx"],
.dataset-format[data-format="xls"],
.dataset-format[data-format="excel"],
.dataset-format[data-format="vnd.ms-excel"],
.dataset-format[data-format="EXCEL"],
.dataset-format[data-format="VND.MS-EXCEL"],
.dataset-format[data-format="XLS"],
.dataset-format[data-format="XLSX"]         { background-color: #00d100; }
.dataset-format[data-format="xml"],
.dataset-format[data-format="XML"]          { background-color: #0000d1; }
.dataset-format[data-format="oracle"],
.dataset-format[data-format="ORACLE"]       { background-color: #55bada; }
.dataset-format[data-format="shp"],
.dataset-format[data-format="SHP"]          { background-color: #bada55; }
.dataset-format[data-format="kmz"],
.dataset-format[data-format="KMZ"]          { background-color: #55adab; }
.dataset-format[data-format="zip"],
.dataset-format[data-format="ZIP"]          { background-color: #001dff; }
.tag-icon                                   { display: inline-block; width: 30px; height: 30px; background-color: #9b9b9b; background-repeat: no-repeat; background-position: 50%; background-size: 50%; border-radius: 15px; }
.tag-icon.tag-cultura-y-turismo             { background-image: url(../img/ic-cultura-y-turismo.png); }
.tag-icon.tag-desarrollo-sostenible         { background-image: url(../img/ic-desarollo-sostenible.png); }
.tag-icon.tag-economia                      { background-image: url(../img/ic-economia.png); }
.tag-icon.tag-educacion                     { background-image: url(../img/ic-educacion.png); }
.tag-icon.tag-energia-y-medio-ambiente      { background-image: url(../img/ic-energia-y-medio-ambiente.png); }
.tag-icon.tag-finanzas-y-contrataciones     { background-image: url(../img/ic-finanzas-y-contrataciones.png); }
.tag-icon.tag-geoespacial                   { background-image: url(../img/ic-geoespacial.png); }
.tag-icon.tag-gobiernos-locales             { background-image: url(../img/ic-gobiernos-locales.png); }
.tag-icon.tag-salud                         { background-image: url(../img/ic-salud.png); }
.tag-icon.tag-seguridad-y-justicia          { background-image: url(../img/ic-seguridad-y-justicia.png); background-position: 50% 42%; }
.tag-icon.tag-infraestructura               { background-image: url(../img/ic-infraestructura.png); }